@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    @model IEnumerable<PersonalityTypeApplication.Models.Personality>*@
<p align="left">
    <font size="5" color="#F2F2F2">
        <b>
            Myers–Briggs Type Indicator<br />
        </b>
        <div align="left">

            The MBTI was constructed by Katharine Cook Briggs and her daughter Isabel Briggs Myers.<br />
            It is based on the typological theory proposed by Carl Jung, who had speculated that there are <br />
            four principal psychological functions by which humans experience the world – sensation, <br />
            intuition, feeling, and thinking – and that one of these four functions is dominant for a person <br />
            most of the time.<br />
            The MBTI was constructed for normal populations and emphasizes the value of naturally occurring differences.<br />
            "The underlying assumption of the MBTI is that we all have specific preferences in the way we construe<br />
            our experiences,and these preferences underlie our interests, needs, values, and motivation."<br />
            At the heart of Myers Briggs theory are four preferences:<br />
            *People and things (Extraversion or "E"), or ideas and information (Introversion or "I").<br />
            *Facts and reality (Sensing or "S"), or possibilities and potential (Intuition or "N").<br />
            *Logic and truth (Thinking or "T"), or values and relationship (Feeling or "F").<br />
            *A lifestyle that is well-structured (Judgment or "J"), or one that goes with the flow (Perception or "P").<br/>
            In Myers Briggs theory, for each pair you prefer one style over the other. You combine the letters associated <br />
            with your preferences to get your Myers Briggs personality type.

        </div>
    </font>
</p>
